<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
  <a class="navbar-brand" href="#">
    <img style="max-width:200px; margin-top: 0px;"
         src="https://i.ibb.co/PZfH02g/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/list">Libri</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/basketList">Basket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/near">Vicino a me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [hidden]=logged class="nav-link" routerLink="/login">
          <i class="bi bi-person-fill"></i>
          Login
        </a>
        <a [hidden]=!logged class="nav-link" routerLink="/user-home">
          <i class="bi bi-person-fill"></i>
          {{username}}
        </a>
      </li>
    </ul>
  </div>
</nav>
