<body>

<h1>Libri in questo basket</h1>
<div class="container" id ="main-container">
  <div class="row">
    <div *ngFor="let book of books | async" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{book?.cover}}" alt="" class="img-fluid img-thumbnail w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{book?.title}}</h5>
            <p class="m-0">{{book?.author}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Editore : <a href="#">{{book?.editor}}</a></li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Genere : {{book?.genre}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Anno : {{book?.year}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Stato della copia : {{book?.status}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="(null)" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">Ordina</a>
            <a (click)="(null)" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">Dettagli</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
