<div class="center">
  <h1>Benvenuto {{username}}</h1>
</div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<div class="menu">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <a routerLink="/my-baskets" class="btn btn-primary btn-lg" role="button"><i class="bi bi-bookshelf"></i> <br/>Visualizza basket</a>
                <a href="#" class="btn btn-success btn-lg" role="button"><i class="bi bi-plus-square"></i> <br/>Aggiungi basket</a>
              </div>
              <div class="col-xs-6 col-md-6">
                <a href="#" class="btn btn-primary btn-lg" role="button"><i class="bi bi-book"></i> <br/>Visualizza libri</a>
                <a href="#" class="btn btn-success btn-lg" role="button"><i class="bi bi-plus-square"></i> <br/>Aggiungi libri</a>
              </div>
            </div>
            <a href="" class="btn btn-danger btn-lg btn-block" role="button"><i class="bi bi-door-closed"></i>   Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
